/* 
    class için .texet-red
    id için #id-bilgisi.
    Bir HTML elementi kendini kapsayan elementin (parent elementi) stil özelliklerine sahip olur.

*/
.text-red
    {
        color:red;
    }
.fs-16 
    {
        font-size: 16px;
    }
.fs-26 
    {
        font-size: 26px;
    }
     
#first-articles-in-main 
{
    background-color: antiquewhite;
}
.second-articles, .third-articles {

}
